*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #25274D;
    width: 100%;
    height: 10000px;
    padding-top: 20px;
    font-family: Arial;
}
.bodyflex{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.navBar{
    color: white;
    padding-bottom: 30px;
}
.projectContainer{
    height: 250px;
    border: 5px solid #464866;
    border-radius: 20px;
    color: white;
    height: 300px;
    
}
.projectImage{
    width: 100%;
    border-radius: 14px;
    
    

}
.projectGrid{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    column-gap: 40px;
    row-gap:40px
}
.projectTitle{
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.author{
    padding-left: 10px;
}
.date{
    padding-left: 10px;
}
.description{
    padding-left: 10px;
}
.websitelogo{
    padding-bottom: 20px;
    color: white;
}
.slide-container{
position: relative;
width: 800px;
height: 450px;
border: 8px solid #464866;
box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
margin-bottom: 40px;
border-radius: 30px;
}
.slide-container .slides{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

}
.slide-container .slides img:hover{
    cursor: pointer;
}
.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}
@keyframes next1{
    from{
        left: 0%;
    } to {
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%;
    } to {
        left: 0%;
    }
}
@keyframes prev1{
    from{
        left: 0%;
    } to {
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%;
    } to {
        left: 0%;
    }
}
